@{
  Layout = "_Layout";
}
<div class = "container">
<h1>All the restaurants!</h1>


<!-- <p><a href='/Cuisine/@Model["Cuisine"].GetId()/restaurant/new'>Add a new restaurant</a></p> -->
<p><a href='/showCuisine'>Return to Cuisine List</a></p>
<p><a href='/'>Return to Main Page</a></p>