@{
  Layout = "_Layout";
}
<h1>Info about @Model["Restaurant"].GetName() Restaurant</h1>
<p>Location: @Model["Restaurant"].GetLocation()</p>


<p><a href='/Cuisine/@Model["Cuisine"].GetId()/Restaurant/@Model["Restaurant"].GetId()/edit'>Edit a restaurant</a></p>
<p><a href='/showCuisine'>Return to Cuisine List</a></p>
<p><a href='/'>Return to Main Page</a></p>