<h3>Here are all the Restaurants in this Cuisine:</h3>

<ol>
@foreach (var restaurant in @Model["restaurants"])
{
  <li><a href='/Cuisine/@Model["cuisine"].GetId()/Cuisine/@restaurant.GetId()'>@restaurant.GetName()</a></li>
}
</ol>

<p><a href='/Cuisine/@Model["cuisine"].GetId()/restaurant/new'>Add a new restaurant</a></p>
<p><a href='/Cuisine'>Return to restaurant list</a></p>
<p><a href='/'>Return to Main Page</a></p>