@{
  Layout = "_Layout";
}
<div class = "container">
<form action = "/addCuisine" method = "post">
    <label for= "CuisineName">Add a Type of Cuisine:</label>
    <input type = "text" name = "CuisineName">
    <button type = "submit">Add Cuisine</button>
</form>
</div>